@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-color: rgb(158, 158, 158);
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 350px;
  width: 100%;
  background-color: #ffeb3b;
  padding: 25px;
  border-radius: 15%;
  box-sizing: 4px 4px 2px rgb(255, 217, 0);
}

.wrapper h2 {
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

.wrapper .input_field {
  margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.wrapper .input_field input[type="password"] {
  width: 100%;
  padding: 10px;
}

.wrapper input[type="submit"] {
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background: #ffffff;
  color: #332902;
  text-transform: uppercase;
  font-weight: 1000;
  border-radius: 25px;
  cursor: pointer;
}

.wrapper #error_message {
  margin-bottom: 20px;
  padding: 0px;
  background: #fe8b8e;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

#success {
  display: none;
}

.creds {
  background-color: #000000;
  width: 100%;
  height: 30px;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
h5.usercheck {
  display: none;
  color: red;
}
h5.usercheck.yo {
  display: none !important;
}

.modals {
  position: absolute;
  width: 700px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: white;
  padding: 200px 0;
  border-radius: 10px;
  display: none;
}

.modals:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #fff95b 0%, #ff930f 100%);
  transform: translate3d(0px, 20px, 0) scale(0.95);
  filter: blur(20px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}
.conte {
  width: 100%;
  height: 100%;
}
/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.modals::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}
